.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: var(--grid-max-width);
  position: relative;
  padding-bottom: 60px;
  min-height: calc(100dvh - 150px);
  background-color: black;

  @include respond-to(LARGE) {
    padding-bottom: 120px;
    min-height: auto;
    justify-content: flex-end;
  }
}

.heroContent {
  margin-top: 0;
  padding-block: 60px;
  background-image: url("/assets/images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond-to(LARGE) {
    padding-block: 300px;
  }
}

.mainTitle,
.secondaryTitle,
.thirdTitle {
  text-align: center;
}

.mainTitle,
.secondaryTitle {
  opacity: 0;
}

.mainTitle {
  transform: translateY(100%);
  font-weight: 700;
  color: $white-color;
}

.secondaryTitle {
  transform: translateY(-100%);
  font-family: var(--font-ibm);
  letter-spacing: 0;
  color: $white-color;
}

.thirdTitle {
  margin-top: 50px;
}

.heroVideoWrapper {
  position: relative;
  display: flex;
  aspect-ratio: 16 / 9;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  margin-top: 60px;

  @include respond-to(LARGE) {
    border-radius: 40px;
    overflow: hidden;
    max-width: 95%;
    margin: 0 auto;
    will-change: clip-path;
    margin-top: 120px;
  }
}

.heroVideo {
  inset: 0;
  width: 100%;
  // margin-block-start: 100px;
  transform: scale(1.3);

  @include respond-to(LARGE) {
    margin-block-start: 0;
    width: 100%;
    will-change: transform;
  }
}
