@use "../../styles/mixins" as *;

.mainNavigation {
  padding-block-start: 30px;
  padding-block-end: 50px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: var(--grid-max-width);
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(0, 18, 25, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 2;
}

.logo {
  display: none;

  @include respond-to(LARGE) {
    display: initial;
  }
}

.social-links {
  display: none;
}

.list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0 auto;
}
