.navDesktop {
  display: none;

  @include respond-to(LARGE) {
    display: initial;
  }
}

.navList {
  display: flex;
  gap: 80px;
}

.navListItem {
  position: relative;
}

.listItem {
  transition: opacity 0.3s ease;
  font-family: var(--font-ibm);
}

.listItem:hover {
  opacity: 0.75;
}

.secondaryNavList {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 250px;
  background-color: $white-color;
  z-index: 2;
  padding: 16px 16px;
  flex-direction: column;
  gap: 16px;
}

.navListItem:hover .secondaryNavList {
  display: flex;
  opacity: 1;
}
