.workListItem {
  border-top: 1px solid rgba($white-color, 0.3);
  transition: background-color 0.15s;
  cursor: pointer;

  &:hover {
    background-color: rgba($white-color, 0.03);
  }
}

.workListLink {
  padding: 30px 0;
  display: flex;
  flex-direction: column;

  @include respond-to(LARGE) {
    flex-direction: row;
    gap: 120px;
    padding: 60px 20px;
  }
}

.date {
  color: $white-color;
  text-shadow: 0 0 4px rgba(black, 0.5);
  margin-bottom: 16px;

  @include respond-to(LARGE) {
    word-break: break-all;
    max-width: 4ch;
    margin-bottom: 0;
  }
}

.workListContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: rgba($white-color, 1);
  text-shadow: 0 0 4px rgba(black, 0.5);

  @include respond-to(LARGE) {
    gap: 16px;
  }
}
