.worksSection {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;

  @include respond-to(LARGE) {
    gap: 250px;
  }
}

.worksSection > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--grid-max-width);
  position: relative;
  justify-content: space-between;

  @include respond-to(LARGE) {
    flex-direction: row;
  }
}

.title {
  color: $colorVanillaIce;
  display: flex;
  justify-content: center;
  margin-block-end: 60px;

  @include respond-to(LARGE) {
    position: sticky;
    top: 100px;
    align-self: flex-start;
    flex: 25% 0;
    margin-block-end: 0;
  }
}

.worksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 95%;

  @include respond-to(LARGE) {
    flex: 65% 0;
    width: auto;
  }
}
