.teachingSection {
  display: flex;
  flex-direction: column;
  border-block-start: 1px solid rgba($rich-black-color, 0.2);
  overflow: hidden;
  max-width: 100vw;
}

.title {
  font-weight: 600;
  margin-block-end: 40px;
}

.classDescription {
  margin-block-end: 60px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.initialState {
  transform: translate(100vw, 0);
}
