.main {
  row-gap: 40px;
  // background-image: url("");

  @include respond-to(LARGE) {
    row-gap: 60px;
  }
}

.titleWrapper {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to(LARGE) {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    align-items: flex-start;
  }
}

.videoPerformanceTemplate .titleWrapper {
  @include respond-to(LARGE) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-items: center;
  }
}

.videoPerformanceComponent {
  grid-column: 1 / -1;
  width: 100%;
}

.workInfo {
  margin-block-start: 60px;
  @include respond-to(LARGE) {
    margin-block-start: 120px;
  }
}

.videoPerformanceTemplate .workInfo {
  @include respond-to(LARGE) {
    margin-block-start: 60px;
  }
}

.workContent {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  @include respond-to(LARGE) {
    grid-column: 6 / -1;
    grid-row: 1 / 2;
  }

  p {
    margin: revert;
  }
}

.imageWrapper {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  @include respond-to(LARGE) {
    grid-column: 6 / -1;
    grid-row: 2 / 3;
  }
}

.imagesList {
  grid-column: 1 / -1;
  grid-row: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;

  @include respond-to(LARGE) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    flex-direction: row;
  }
}

.imageListItem {
  @include respond-to(LARGE) {
    flex: 0 0 calc(33.33% - 20px);
  }
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.worksList {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.premiered {
  margin-block-start: 30px;
}

.mainImage {
  overflow: hidden;
  width: 100%;
}

.trailerWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-block-start: 60px;
  transition: opacity 0.3s;
  cursor: pointer;
  position: relative;
  aspect-ratio: 16 / 9;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

.playIcon {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.playIcon svg {
  width: 14px;
  height: 14px;
  transform: translateX(2px);
}

.trailerThumbnail {
  width: 100%;
  position: absolute;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  z-index: -1;
}

.description a {
  font-weight: 600;
  color: $dark-cyan-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
